.about-me {
    background-color: rgb(214, 188, 92,);
    height: 100vh;
    .about-me-container {
        display:flex;
        padding-top: 100px;
        flex-direction: column;
        .about-me-wrapper {
            margin-left:50px;
            display: flex;
            .my-photo {
                height: 250px;
                border-radius: 50%;
            }
            .about-me-content {
                padding-left: 50px;
                .about-me-title {
                    color: $color-black;
                    font-family: "Montserrat";
                    font-weight: 700;
                    font-size: 40px;
                    margin-bottom: 50px;
                }
                .about-me-info {
                    text-align: justify;
                    line-height: 2;
                    font-family: "Montserrat";
                    font-weight: 400;
                    margin-right: 100px;
                    flex: 1;
                }
            }
        }
        .my-skills-box {
            margin: 50px;
            .skills-title {
                font-family: "Montserrat";
                font-weight: 700;
                font-size: 20px;
                text-align: center;
                margin-top: 50px;
            }
            .logo-skills-wrapper {
                margin-top: 50px;
                display: flex;
                justify-content: center;
                .logo {
                    height: 80px;
                    width: 80px;
                    margin-right: 30px;
                }
                .logo:hover {
                    box-shadow: 0 0 25px $color-white;
                    text-shadow: 0 0 25px $color-dark-green;
                  }
            }
        }
    }
}


@media only screen and (max-width: 860px) {
    .about-me {
        height: unset;
        .about-me-container {
            padding-top: 50px;
            .about-me-wrapper{
                flex-direction: column;
                align-items: center;
                margin-left: unset;
                .my-photo {
                    margin-bottom: 30px;
                }
                .about-me-content {
                    padding-left: unset;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    .about-me-title {
                        text-align: center;
                    }
                    .about-me-info {
                        margin-right: unset;
                        text-align: center;
                    }
                }
            }
            .my-skills-box {
                margin: 50px 0px;
                .logo-skills-wrapper {
                    flex-wrap: wrap;
                    .logo {
                        height: 40px;
                        width: 40px;
                        margin: 30px;
                    }
                }
            }
        }
    }
}

