.my-projects {
    background: $color-dark-green;
    height: 100vh;
}

.my-project-title {
    text-align: center;
    color: $color-white;
    font-size: 50px;
    font-family: 'Karantina';
    margin: 20px;
}

.zetmeble {
    height: 400px;
    width: 500px;
    background-size: cover;
}